# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
max_line_length = 100

[*.sh]
indent_style = tab
indent_size = 2

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
max_line_length = 100

[*.env]
max_line_length = 100

[*.{yml, yaml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 2

[*.html]
insert_final_newline = false
